@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

<script >
    $(function () {
      
       

        //WIRA DATE PICKER
        // var dd = new Date().getDate();
        // var mm = new Date().getMonth();
        var yyyy = new Date().getFullYear();
        // var tommorrow = new Date().getDate() + 1;
        var holiday = [
            new Date(yyyy, 0, 1).getTime(), /* Tahun Baru Masehi*/
            new Date(yyyy, 1, 16).getTime(), /* Imlek */
            new Date(yyyy, 2, 17).getTime(), /* Nyepi */
            new Date(yyyy, 2, 30).getTime(), /* Wafat Yesus */
            new Date(yyyy, 3, 1).getTime(), /* Isra Mi'raj */
            new Date(yyyy, 4, 1).getTime(), /* Hari Buruh */
            new Date(yyyy, 4, 10).getTime(), /* Kenaikan Yesus */
            new Date(yyyy, 4, 29).getTime(), /* Waisak */
            new Date(yyyy, 5, 1).getTime(), /* Kelahiran Pancasila */
            new Date(yyyy, 5, 15).getTime(), /* Idul Fitri */
            new Date(yyyy, 5, 16).getTime(), /* Idul Fitri */
            new Date(yyyy, 7, 17).getTime(), /* Kemerdekaan RI */
            new Date(yyyy, 7, 22).getTime(), /* Idul Adha */
            new Date(yyyy, 9, 11).getTime(), /* Tahun Baru Islam */
            new Date(yyyy, 10, 20).getTime(), /* Maulid Nabi Muhammad */
            new Date(yyyy, 11, 25).getTime() /* Natal */
        ];
        $("#orderstartdate").datepicker({
          
                 dateFormat: 'dd/mm/yy', //check change
            changeMonth: true,
            changeYear: true,
            minDate: 0
        });
        $("#orderenddate").datepicker({

            dateFormat: 'dd/mm/yy', //check change
            changeMonth: true,
            changeYear: true,
            minDate: 7
        });

        var _dt = new Date();
        var _dt = _dt.setDate(_dt.getDate());
        $("#orderstartdate").datepicker("setDate", "dd/mm/yy", _dt);
        $("#orderenddate").datepicker("setDate", "dd/mm/yy", _dt);

    });
</script>
<div ng-app="MyApp2" ng-controller="MyController2">
    <div class="row page-title-header">
        <div class="col-12">
            <div class="page-header">
                <h4 class="page-title ng-binding">Orders History</h4>
            </div>
        </div>
    </div>
    <div ng-show="displayloader" aria-hidden="true" class="ng-hide">
        <div class="loader-demo-box" style="border: none !important;">
            <div class="dot-opacity-loader">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <div ng-show="!displayloader" aria-hidden="false" class="">
        <div class="row" style="margin-left:1px">
            <!-- ngIf: !nav[24].activated -->
        </div>
        <div class="col-md-12">
            <div class="page-header-toolbar mb-1">
                <div class="filter-wrapper mb-1">
                    <button type="button" class="btn btn-secondary mr-1" ng-click="refreshTransactions(1);" tabindex="0">
                        <i class="fa fa-refresh" aria-hidden="true"></i>
                    </button>
                    <button type="button" class="btn btn-secondary mr-1"> <i class="mdi mdi-download"></i>Export</button>
                    <a class="mr-1" tabindex="0" ng-click="OrderFilterBy()">
                        <button type="button" class="btn btn-secondary">
                            <i class="mdi mdi-filter"></i>Filter
                        </button>
                    </a>
                    <button type="button" class="btn btn-secondary mr-1"> <i class="mdi mdi-download"></i>Export Custom Orders</button>
                    <!-- ngIf: coID != 'GLGR' -->
                    @*    <a class="mr-1 ng-scope" ng-click="downloadCSV(1)" ng-if="coID != &#39;GLGR&#39;" tabindex="0">
                    <button type="button" class="btn btn-secondary">
                    <i class="mdi mdi-download"></i>Export</button>
                    </a><!-- end ngIf: coID != 'GLGR' -->
                    <a class="mr-1" ng-click="OrderFilterBy()" tabindex="0">
                    <button type="button" class="btn btn-secondary">
                    <i class="mdi mdi-filter"></i>Filter</button>
                    </a>
                    <!-- ngIf: coID == 'GLGR' -->
                    <!-- ngIf: nav[24].activated -->
                    <a class="mr-1 ng-scope" ng-if="nav[24].activated" href="dash/csv/reports/custom/orders/2023-01-24%2000:00:00/2023-01-31%2023:59:59/all">
                    <button type="button" class="btn btn-secondary">
                    <i class="mdi mdi-download"></i>Export Custom Orders</button>
                    </a><!-- end ngIf: nav[24].activated -->
                    </div>*@
                    <!-- ngIf: shopify.api_key -->
                    <div class="btn-group toolbar-item ml-auto" role="group" aria-label="Basic example" style="padding-left: 240px;">
                        <button type="button" class="btn btn-secondary" ng-click="navPage(0)" tabindex="0"><i class="mdi mdi-chevron-left"></i></button>
                        <button type="button" class="btn btn-secondary ng-binding">Showing 1 - 2 of 2</button>
                        <button type="button" class="btn btn-secondary" ng-click="GetAllData()" tabindex="0"><i class="mdi mdi-chevron-right"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" ng-model="Prefix" class="form-control ng-pristine ng-untouched ng-valid" placeholder="Search" ng-model="orderSearch.filter" ng-change="clearFilterButton(orderSearch.filter)" aria-label="Username" aria-describedby="basic-addon1" tabindex="0" aria-invalid="false">
                        <div class="input-group-prepend">
                            <button class="btn btn-secondary " ng-click="GetAllData()" type="button" aria-haspopup="true" tabindex="0"> Search</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ngIf: !nav[25].activated && AssignedFulfiller.length && user.role == 'Admin' -->
            <!--<br>-->
            <br ng-show="orderfilterFlag" aria-hidden="true" class="ng-hide">
            <div id="order-history-filter" class="row ng-hide" ng-hide="IsHidden" aria-hidden="true">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header p-3">
                            Filter By
                            <div class="badge badge-danger margin-5 float-right" ng-click="OrderFilterBy()" role="button" tabindex="0"> Close</div>
                        </div>
                        <div class="card-body" style="padding: 0.88rem 0.80.8rem;">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">From</label>
                                        <div class="col-sm-9">
                                            
                                            <input type="text" maxlength="10" id="orderstartdate" class="form-control ng-pristine ng-untouched ng-valid ng-isolate-scope ng-valid-date" ng-model="custOrder.customer_req_date" placeholder="dd/mm/yyyy" ng-init="calender[1] = false" ng-click="calender[1] = true;" uib-datepicker-popup="" datepicker-options="config" date-disabled="disabled(date, mode)" is-open="calender[1]" show-button-bar="false" todayhighlight="true" tabindex="0" aria-invalid="false"><!-- ngIf: isOpen -->

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">To</label>
                                        <div class="col-sm-9">
                                            <input type="text" maxlength="10" id="orderenddate" class="form-control ng-pristine ng-untouched ng-valid ng-isolate-scope ng-valid-date" ng-model="custOrder.customer_req_date" placeholder="dd/mm/yyyy" ng-init="calender[1] = false" ng-click="calender[1] = true;" uib-datepicker-popup="" datepicker-options="config" date-disabled="disabled(date, mode)" is-open="calender[1]" show-button-bar="false" todayhighlight="true" tabindex="0" aria-invalid="false"><!-- ngIf: isOpen -->
                                            
                                        </div>
                                    </div>
                                </div>
                             <!-- ngIf: !nav[25].activated && user.role != 'Dealer' --><!-- end ngIf: !nav[25].activated && user.role != 'Dealer' -->
                            </div>
                            <!-- ngIf: !nav[25].activated && user.role != 'Dealer' --><div class="row ng-scope" ng-if="!nav[25].activated &amp;&amp; user.role != &#39;Dealer&#39;">
                               
                                
                            </div><!-- end ngIf: !nav[25].activated && user.role != 'Dealer' -->
                            <!-- ngIf: !nav[25].activated --><!-- end ngIf: !nav[25].activated -->
                            <!-- ngIf: !nav[25].activated && percentageDiscountFlag -->
                            <!-- ngIf: !nav[25].activated && percentageDiscountFlag -->
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-primary toolbar-item float-right" ng-click="orderSearchFilter()" tabindex="0">&nbsp;Apply Filter</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br ng-show="showOrderFilter" aria-hidden="true" class="ng-hide">
            <div class="row ng-hide" ng-show="showOrderFilter" style="padding-left:1%;" aria-hidden="true">
                <p><strong>Filters applied :</strong></p>
                <!-- ngIf: orderSearch.date_from --><span ng-if="orderSearch.date_from" class="font-size-14 ng-binding ng-scope">&nbsp;From date : 24-Jan-2023&nbsp;</span><!-- end ngIf: orderSearch.date_from -->
                <!-- ngIf: orderSearch.date_to --><span ng-if="orderSearch.date_to" class="font-size-14 ng-binding ng-scope">&nbsp;To date : 31-Jan-2023&nbsp;</span><!-- end ngIf: orderSearch.date_to -->
              
                &nbsp;<span class="clearFilter" ng-click="refreshTransactions()" role="button" tabindex="0">
                    <div class="badge badge-danger float-right"> Clear filter</div>
                </span>
            </div>
            <hr>
            <div class="row">
                <div class="col grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <!-- ngIf: orders.length -->
                            <div class="table-responsive ng-scope sticky-table-demo" style="max-height:300px" ng-show="IsVisible" ng-init="GetAllData()">
                                <table class="table" id="OrdrHistoryTbl">
                                    <thead>
                                        <tr>
                                            <th>ORDER ID</th>
                                            <th>ORDER DATE</th>
                                            <th>ORDER STATUS</th>
                                            <th>DELIVERY DATE</th>
                                           
                                            <th>CUST ID</th>
                                            <!-- ngIf: nav[24].activated -->
                                            <th  class="ng-scope">CUST REF NO</th><!-- end ngIf: nav[24].activated -->
                                            <!-- ngIf: nav[24].activated -->
                                          @*  <th  class="ng-scope">SALES ORDER NUMBER</th><!-- end ngIf: nav[24].activated -->*@
                                            <th>CUSTOMER</th>
                                            <th>ORDER PLACED BY</th>
                                            <th>SALESPERSON</th>
                                            <!-- ngIf: nav[24].activated -->
                                            <th  class="ng-scope">CREATED BY</th><!-- end ngIf: nav[24].activated -->
                                            <th>ITEMS</th>
                                           
                                            <th>CUSTOMER REQUEST DATE</th>
                                            <th>STANDARD ORDER</th>
                                            <th>DISPATCH DATE</th>
                                            <th>ACTION</th>
                                            
                                           
                                           
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="emps in OrderDetails" class="ng-scope">
                                            <td>
                                                @Html.Hidden("RedirectToOrderDetails", Url.Action("OrderDetails", "SalesOrder"))
                                                <input type="hidden" id="hdnordid" />
                                               @* <input type="checkbox" id="id_chk1" class="checkRow ng-pristine ng-untouched ng-valid" value="1"
                                                       tabindex="0"
                                                       aria-checked="false" aria-invalid="false">&nbsp;&nbsp;*@
                                                <a style="text-decoration: none" ng-click="LoadOrder_History(emps.orderID)"
                                                  
                                                   class="ng-binding OrderId" tabindex="0">{{emps.orderID}}</a>
                                            </td>
                                            <td class="ng-binding">{{emps.orderDate}}</td>
                                            <td style="margin:10px">
                                                <!-- ngIf: !order.status || order.status == 'new' -->

                                                <span ng-if="!order.status || order.status == &#39;new&#39;" class="badge badge-primary badge-pill unpaid ng-binding ng-scope">{{emps.status}}</span><!-- end ngIf: !order.status || order.status == 'new' -->
                                                <!-- ngIf: order.status && (order.status == 'open' || order.status == 'approved' || order.status == 'packed' || order.status == 'delivered') -->
                                                <!-- ngIf: order.status && order.status == 'closed' -->
                                                <!-- ngIf: order.status && order.status != 'closed' && order.status != 'packed' && order.status != 'delivered' && order.status != 'approved' && order.status != 'new' && order.status != 'open' -->
                                            </td>
                                            <td class="ng-binding">N/A</td>
                                            
                                            <td class="ng-binding">{{emps.dealerCode}}</td>
                                            <!-- ngIf: nav[24].activated -->
                                            <td  class="ng-binding ng-scope">{{emps.cust_Ref}}</td><!-- end ngIf: nav[24].activated -->
                                            <!-- ngIf: nav[24].activated -->
                                          @*  <td ng-if="nav[24].activated" class="ng-binding ng-scope">N/A</td><!-- end ngIf: nav[24].activated -->*@
                                            <td class="ng-binding">{{emps.dealerName}}</td>
                                            <td class="ng-binding">{{emps.orderPlacedBy}}</td>
                                            <td class="ng-binding">{{emps.salesPerson}}/A</td>
                                            <!-- ngIf: nav[24].activated -->
                                            <td  class="ng-binding ng-scope">{{emps.orderPlacedBy}}</td><!-- end ngIf: nav[24].activated -->
                                            <td class="ng-binding"> {{emps.itemCount}}</td>
                                           
                                            <td class="ng-binding">
                                                {{emps.cRD_Date}}
                                            </td>
                                               
                                            <td class="ng-binding"> {{emps.standardOrder}} </td>
                                            <td class="ng-binding">  </td>
                                            
                                            <td>
                                                
                                                <a style="text-decoration: none" ng-click="RepeatOrder_History(emps.orderID,emps.dealerCode)"
                                                   class="ng-binding OrderId" tabindex="0">Repeat Order</a>
                                            </td>
                                            <td>
                                                
                                                <button ng-hide="emps.standardOrder == 'SO' || emps.standardOrder != 'Confirm'" onclick="sendEmail()" class="btn btn-danger" type="button" style="background-color:green">Approve</button>
                                                <button ng-hide="emps.standardOrder == 'SO' || emps.standardOrder != 'Confirm'" (click)="onSelect(lst)" class="btn btn-danger" type="button" style="background-color:red">Reject</button>
                                            </td>
                                        
                                        
                                        </tr>
                                    </tbody>
                                </table>
                            </div><!-- end ngIf: orders.length -->
                            <!-- ngIf: !orders.length -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>